<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455516068613-jsgsasjue7tt1cd9dvq8evt3s5dcetq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455516068613-jsgsasjue7tt1cd9dvq8evt3s5dcetq1</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Mq1h6cjemyvguN-j1tBJ83Qw62L5XiY</string>
	<key>GCM_SENDER_ID</key>
	<string>455516068613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SRRSS.Compunnel.SocialifyMe</string>
	<key>PROJECT_ID</key>
	<string>socialifyme</string>
	<key>STORAGE_BUCKET</key>
	<string>socialifyme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455516068613:ios:f1cc023253f599e3a4f56c</string>
</dict>
</plist>